body{
    font-family: Arial;
    width: 100%;
    height: 100vh; /* Importante poner "width:100%;" y "height: 100vh;" antes de un
                 "background: linear-gradient" para que asi el background no sea chico
                 y no se repita. */
    background: linear-gradient(45deg, rgb(0, 140, 175), rgb(31, 184, 204), rgb(0, 216, 245), rgb(201, 247, 255));

}

.menu{
    list-style: none; /* Quita los puntos que tiene el Listado por estilo*/
    background: rgb(48, 48, 48);
    width: 60%; /* Es para que el largo de background sea del '60%' de la Web*/
    max-width: 1000px;
    margin: auto; 
    text-align: center; /* Centra el texto del background */
}
.menu li a{
    text-decoration: none; /* Quita la decoracion/efecto que tiene un enlasado */
    color: white;
    padding: 20px; /* Es para que el espacio del background sea de '20px' */
    display: block; /* Es para convertir cada etiqueta en un Bloque  */
}
.menu li{
    display: inline-block;
}
.menu li a:hover/* la propiedad ':hover' sirve de resaltador para cada uno
                   de los bloques*/{
    background: rgba(1, 204, 240, 0.938);
}
.oscurecer{

  background: rgb(58, 58, 58);/*DATO: los tipos de backgrounds tienen que ser los mismo para que se puedan 
                            alternar estos, Ejemplo: 'background-color:' Y 'background-color:', sino no lo alterna*/
  color:rgb(0, 204, 255);
}