body{
    font-size: large;
    font-family: Arial;
    width: 99%;
    height: 1050vh; /* Importante poner "width:100%;" y "height: 100vh;" antes de un
                 "background: linear-gradient" para que asi el background no sea chico y no se repita. */
    background: linear-gradient(45deg, rgb(0, 140, 175), rgb(31, 184, 204), rgb(0, 216, 245), rgb(201, 247, 255));
}
#logocreaciones{
    translate: -12vh;

}
.menu{
    list-style: none; /* Quita los puntos que tiene el Listado por estilo*/
    background: rgb(46, 45, 43);
    width: 60%; /* Es para que el largo de background sea del '60%' de la Web*/
    max-width: 1000px;
    margin: auto;
    text-align: center; /* Centra el texto del background */
}
.menu li a{
    font-size: 2.7vh;
    text-decoration: none; /* Quita la decoracion/efecto que tiene un enlasado */
    color: white;
    padding: 20px; /* Es para que el espacio del background sea de '20px' */
    display: block; /* Es para convertir cada etiqueta en un Bloque  */
}
.menu li{
    display: inline-block;
}
.menu li a:hover/* la propiedad ':hover' sirve de resaltador para cada uno
                   de los bloques*/{
    background: orange;
    color: black;
}
#posicionmodoscuro{
    translate: 189vh;
    background: black;
    color: white;
}
#posicionmodoscuro:hover{
    background: white;
    color: black;
    border: 0px;
}

.oscurecer{
  background: rgb(20, 20, 20);/*DATO: los tipos de backgrounds tienen que ser los mismo para que se puedan 
                            alternar estos, Ejemplo: 'background-color:' Y 'background-color:', sino no lo alterna*/
  color: white;
}
h2{
    text-align: center;
    margin-top: 86px;
    font-size: 2.5rem;
}
.catalogo{
    margin-top: 60px;
    width: 433px;
    height: auto;
}
.catalogo ul{
    display: flex;
    padding: 0;
    width: 335%;
    margin-left: 40px;
}
.catalogo li{
    list-style: none;
    width: 100%;
}
.img-cat{
    position: relative;
}
.img-cat::after{
    content: "producto";
    font-size: 2rem;
    color: white;
    background-color: #16456198;
    position: absolute;
}